.fav-add {
  position: absolute;
  top: 29px;
  left: 29px;
  padding: 0;
  background-color: transparent;
  border: none;
  color: var(--white);
  cursor: pointer;
  transition: var(--animation);
  width: 21px;
  height: 19px;
  transform-origin: 50%;
}

.fav-add svg {
  width: 100%;
  height: 100%;
}

.fav-add:hover {
  transform: scale(1.2);
}


.fav-add svg{
  display: block;
  transition: var(--animation);
}

.fav-add:hover svg {
  fill: var(--light-blue);
}

 .fav-add:focus svg {
  fill: var(--light-blue);
}

.fav-add:active svg {
  fill: var(--dark-blue);
}

 .fav-add:focus {
  transform: scale(1.2);
  outline: none;
}

.fav-add:hover:focus {
  fill: red;
}
  
.fav-add:active {
  outline: none;
  transform: scale(1);
}

.fav-add--checked svg {
  fill: #ffffff;
}